/* 
    Document   : inputs
    Created on : 12.05.2012, 13:58:19
    Author     : Alex
    Description:
        Purpose of the stylesheet follows.
*/

* { padding: 0; margin: 0; border-collapse: collapse; }
root { 
   display: block;
}
body{
background-color: #757575;
}

#PersonalData fieldset, #PersonalData input #PersonalData select{
   border: 1px solid #CCCCCC;
}
#PersonalData fieldset, #PersonalData label, #PersonalData input, #PersonalData select{
   display: block;
}
#PersonalData fieldset{
   width: 24em;
   margin: 2em 0em 2em 2em;
   padding: 1em;
}
#PersonalData fieldset legend{
   /*   font-family: Georgia, serif;*/
   /*   font-style: italic;*/
   font-size: 0.8em;
   color: #999999;
   padding: 0em 0.6em 0em 0.6em;
}
#PersonalData fieldset fieldset{
   width: auto;
   margin: 0em 1em 0em 1em;
   padding-bottom: 0em;
}
#PersonalData fieldset fieldset legend{
   font: inherit;
   color: inherit;
   font-weight: bold;
}
#PersonalData label{
   margin-bottom: 1em;
   text-indent: 0.6em;
   font-size: 0.8em;
   color: #999999;   
}
#PersonalData fieldset.radio label{
   font-weight: normal;
   color: #222222;
}
#PersonalData fieldset.prefix legend{
   font-size: 0.8em;
   font-weight: normal;
   color: #999999;
   padding: 0em 0.6em 0em 0.6em;
}
#PersonalData fieldset.prefix label{
   float: left;
   width: 8em;
}
#PersonalData input{
   width: 20em;
   padding: 0.2em 0.6em 0.3em 0.6em;
   color: #222222;
}
#PersonalData fieldset.radio input{
   clear: both;
   float: left;
   width: auto;
   margin: 0em;
}

#PersonalData fieldset{
   width: 24em;
   margin: 2em 0em 2em 2em;
   padding: 1em;
   background-color: #ffffff;
   border: none;
   border-top: 1px solid #999999;   
}
#PersonalData fieldset fieldset{
   width: auto;
   margin: 0em 0em 1em 0em;
   padding-bottom: 0em;
   background-color: #ffffff;
}
#PersonalData select{
   width: 21.3em;
   padding: 0.1em 0.6em 0.2em 0.6em;
   -w 
  color: #222;
}