/* 
    Document   : inputs
    Created on : 12.05.2012, 13:58:19
    Author     : Alex
    Description:
        Purpose of the stylesheet follows.
*/

* { padding: 0; margin: 0; border-collapse: collapse; }

root { 
    display: block;
}
body{
    background-color: #FFFFFF;
}

#PersonalData em {
    color:red;
}
#PersonalData fieldset, #PersonalData input #PersonalData select{
    border: 1px solid #CCCCCC;
}
#PersonalData fieldset label, #PersonalData fieldset input{
/*    text-transform: lowercase;*/
    margin-bottom: 1em;
}
#PersonalData fieldset{
    width: 55em;
}
#PersonalData fieldset label{
    float: left;
    width: 10em;
    font-weight: bold;
}
#PersonalData fieldset input{
    color: green;
    width: 20em;
    float: left;
}
#PersonalData fieldset #ENo{
    text-align: right;
    width: 20em;
    padding-right: 1em
}
#PersonalData fieldset #ENoInput{
    text-align: right;
    width: 5em;
    font-weight: normal;
}
.inlineLabel{
    font-size: 0.8em;
    display: block;
    color: #999999;
}